@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 16px;
}

body {
  background-color: #27ae60;
}

body #root {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

body #root .container {
  background-color: #2ecc71;
  width: 300px;
  height: 400px;
  margin: 2em;
  border-radius: 0.25em;
  display: -ms-grid;
  display: grid;
  gap: 0.5em;
  padding: 2em;
      grid-template-areas: "display display display display" "clear clear decimal divide" "seven eight nine multiply" "four five six subtract" "one two three add" "zero zero zero equals";
}

body #root .container .btn {
  background-color: #9ee9bd;
  border-width: 0px;
  color: black;
  font-weight: bold;
  border-radius: 0.75em;
  cursor: pointer;
}

body #root .container #display {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: display;
  background-color: #9ee9bd;
  margin-bottom: 14px;
  border-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body #root .container #display span {
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-right: 0.5em;
  font-family: Digital;
}

body #root .container #equals {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: equals;
}

body #root .container #zero {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: zero;
}

body #root .container #one {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: one;
}

body #root .container #two {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: two;
}

body #root .container #three {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: three;
}

body #root .container #four {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: four;
}

body #root .container #five {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: five;
}

body #root .container #six {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: six;
}

body #root .container #seven {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: seven;
}

body #root .container #eight {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: eight;
}

body #root .container #nine {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nine;
}

body #root .container #add {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: add;
}

body #root .container #subtract {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: subtract;
}

body #root .container #multiply {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: multiply;
}

body #root .container #divide {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: divide;
}

body #root .container #decimal {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: decimal;
}

body #root .container #clear {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: clear;
}
/*# sourceMappingURL=index.css.map */